body {
  background: url(../img/bgblanco.png) repeat;
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.header {
  display: flex; /* Permite alinear elementos en una fila */
  align-items: center; /* Alinea elementos verticalmente al centro */
  justify-content: space-between; /* Espacio entre texto e imagen */
  background: url(../img/bgblue2.png) repeat;
  opacity: 0.5;
  padding: 5px;
  color: rgb(255, 250, 250, 0.9);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.75);
  height: 20vh; /* Ajusta la altura del header según necesites */
}

.header-text {
  flex: 1; /* Permite que el texto ocupe todo el espacio disponible */
  text-align: center; /* Centra el texto dentro de este contenedor */
  display: flex; /* Para centrar verticalmente el contenido */
  flex-direction: column; /* Para mantener el texto en columna */
  justify-content: center; /* Centra los elementos verticalmente */
  padding-right: 10px; /* Añade un poco de espacio a la derecha */
}

.header-image {
  max-height: 100%; /* Asegúrate de que la imagen no exceda la altura del header */
  height: auto;
  width: auto; /* Para asegurarte de que la imagen se ajuste correctamente */
  object-fit: contain; /* Asegúrate de que la imagen se ajuste correctamente */
}

@media screen and (max-width: 768px) {
  .header {
      flex-direction: row; /* Mantiene la dirección en fila */
      height: auto; /* Altura automática para pantallas más pequeñas */
  }

  .header-image {
      max-width: 40%; /* Reduce el tamaño de la imagen en pantallas pequeñas */
      height: auto;
      margin-top: 20px; /* Espaciado en la parte superior en pantallas pequeñas */
  }
}

.topnav {
  overflow: hidden;
  background-color: rgb(210, 105, 30, 0.5);
  opacity: 0.85;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 250, 250, 0.9);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.75);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(128, 128, 128, 0.25);
  color: rgb(255, 215, 0, 0.75);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  border: 1px solid rgb(211, 211, 211, 0.5);
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
}

.cardTitle {
  font-size: 24px;
  padding: 10px 10px 0 10px;
}

.cardBody {
  padding: 10px;
  flex: 1 1 100%;
}

.cardFooter {
  background: rgb(50, 205, 50, 0.25);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.cardFooter a {
  text-decoration: none;
  color: rgb(0, 0, 255, 0.8);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}

@media screen and (max-width: 600px) {
  .container {
      width: 100%;
  }
}

.footer {
  background: url(../img/bgblue2.png) repeat;
  opacity: 0.5;
  text-align: center;
  padding: 20px;
  color: rgb(255, 250, 250, 0.9);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.75);
}
